@import "../../main/variables.scss";

.salesChart{
    .title-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2rem;
    }
    .title{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .amount{
        // text-align: end;
        font-size: 15px;
        padding-right: 2rem;
        line-height: 1.5rem;
    }
    .bar{
        margin-top: 1rem;
    }
}