@import "../main/variables.scss";
@import "../responsive.scss";

.menu{
    margin-top: 20px;
    height: 80vh;

    .item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .title{
        font-size: 12px;
        font-weight: 400;
        color: $main-color;

        @include lg{
            display: none;
        }
    }

    .listItem{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 5px;

        &.active {
            background-color: $dark-color; // Set the background color for the active state
            color: $main-bg; // Set the text color for the active state
            position: relative;
      
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              background-color: $main-bg; // Set the color for the underline
              bottom: 0;
              left: 0;
            }


            @include lg {
                width: 35px;
            }
        }

        &:hover{
            background-color: $dark-color;
            color: $soft-bg;

            @include lg{
                width: 35px;
            }
        }
        .listItemTitle{

            @include lg{
                display: none;
            }
        }

    }

}
