// Background
$main-bg: #FAFAFA; // Main background color
$soft-bg: #ebebeb; // Soft background color
$dark-bg: #D4D4CF; // Dark background color

// Text Colors
$main-color: #151514;  // Main text color (Dark grey-black)
$soft-color: #4CAF50;  // Soft text color (Medium green)
$dark-color: #4B6D52;  // Dark text color (Rich green)